Week 8/Q11.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="phoneNumbers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Entry" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="First" type="xs:string"/>
                                        <xs:element name="Middle" type="xs:string" minOccurs="0"/>
                                        <xs:element name="Last" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="gender" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="Phone" type="xs:string"/>

                            <xs:element name="City">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Option" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
