Week 8/Q9.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Student">
        <xs:complexType>
            <xs:attribute name="Name" type="xs:string" use="required"/>
            <xs:attribute name="Address" type="xs:string" use="required"/>
            <xs:attribute name="Email" type="xs:string" use="required"/>
            <xs:attribute name="Contact" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
